body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: darkgray;
}
button{
    cursor:pointer;
}

canvas{
    background-color: black;
    border-radius: 10%;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}


