body{
    display: flex;
    color: white;
    font-size: 26px;
    font-weight: 100;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: rgb(8, 31, 37);
}

.layer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 720px;
}
button{
    cursor:pointer;
}

canvas{
    background-color: black;
    border: 5px solid rgb(0, 0, 0);
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.title{
    text-align: center;
    line-height: 1.2;
    margin: 0 0 20px 0;
}

a{
    color: grey;
    text-decoration: none;
    margin: 5px;
}

.footer{
    width: 100%;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
